<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Rsdn' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4df2f47b-79f3-4ce5-85df-0b29c0aa03fa</InstrumentationKey>
</ApplicationInsights>